<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container p-2">
        <h1 class="text-center">Choose Your Team</h1>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img src="../home-cat.jpg" class="card-img-top" alt="cat-pic" style="height: 600px;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Cats</h5>
                        <p class="card-text">Independent, yet cute and fluffy felines make excellent pets.</p>
                        <p>Photo by Raoul Droog on Unsplash</a>
                        </p>
                        <a href="#" class="btn btn-primary">Team Cat</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img src="../home-dog.jpg" class="card-img-top" alt="dog-pic" style="height: 600px;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Dogs</h5>
                        <p class="card-text">Playful, loyal and protective to a fault, canines are man's best friend.
                        </p>
                        <p>Photo by Charles Deluvio on Upsplash</p>
                        <a href="#" class="btn btn-primary">Team Dog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>